In [48]:
import pandas as pd

In [49]:
df=pd.read_csv("dataset/rice.csv")

In [50]:
df

,Season,State,Area(hec),Production(Ton),Annual_Rainfall,Fertilizer,Pesticide,Yield(Ton/hector)
0,Autumn,Dhaka,607358.0,398311,2051.4,5.780226e+07,188280.98,0.780870
1,Summer,Dhaka,174974.0,209623,2051.4,1.665228e+07,54241.94,1.060435
2,Winter,Dhaka,1743321.0,1647296,2051.4,1.659119e+08,540429.51,0.941304
3,Monsoon,Chittagong,1031530.0,2340493,1266.7,9.817071e+07,319774.30,2.233500
4,Winter,Chittagong,53889.0,109350,1266.7,5.128616e+06,16705.59,2.073846
...,...,...,...,...,...,...,...,...
9995,Winter,Khulna,100824.0,285614,2655.4,1.156806e+07,18222.48,2.832798
9996,Monsoon,Jessore,2812400.0,7005800,248.3,2.738651e+08,803596.00,2.491040
9997,Winter,Dhaka,1880737.0,3709081,1397.7,2.697477e+08,501798.99,1.972142
9998,Monsoon,Comilla,52985.0,128945,2528.8,4.766714e+06,5656.70,2.433613
9999,Monsoon,Sirajganj,3828992.0,5567644,843.7,3.749936e+08,906958.08,1.454076

In [51]:
seasn=["Autumn","Summer","Monsoon","Winter","Whole Year"]
dist=["Dhaka", "Faridpur", "Gazipur", 
    "Gopalganj", "Jamalpur", "Kishoreganj", "Madaripur", 
    "Manikganj", "Munshiganj", "Mymensingh", "Narayanganj", 
    "Narsingdi", "Netrokona", "Rajbari", "Shariatpur", "Sherpur", 
    "Tangail", "Bogra", "Joypurhat", "Naogaon", "Natore", "Nawabganj", 
    "Pabna", "Rajshahi", "Sirajganj", "Dinajpur", "Gaibandha", "Kurigram", 
    "Lalmonirhat", "Nilphamari", "Panchagarh", "Rangpur", "Thakurgaon", "Barguna",
    "Barisal", "Bhola", "Jhalokati", "Patuakhali", "Pirojpur", "Bandarban", "Brahmanbaria",
    "Chandpur", "Chittagong", "Comilla", "Cox's Bazar", "Feni", "Khagrachari", "Lakshmipur",
    "Noakhali", "Rangamati", "Habiganj", "Maulvibazar", "Sunamganj", "Sylhet", "Bagerhat", "Chuadanga",
    "Jessore", "Jhenaidah", "Khulna", "Kushtia", "Magura", "Meherpur", "Narail","Satkhira"]

def convert_season(season):
    for i in range(len(seasn)):
        if(season==seasn[i]):
            return i

def convert_div(division):
    for i in range(len(dist)):
        if(division==dist[i]):
            return i
import numpy as np
df['State']=np.where(
    df['State']=="Tongi","Gazipur",df['State']
)
df['State']=np.where(
    df['State']=="Kaptai","Rangamati",df['State']
)

In [52]:
df['Season']=df['Season'].apply(convert_season)
df['State']=df['State'].apply(convert_div)
df

,Season,State,Area(hec),Production(Ton),Annual_Rainfall,Fertilizer,Pesticide,Yield(Ton/hector)
0,0,0,607358.0,398311,2051.4,5.780226e+07,188280.98,0.780870
1,1,0,174974.0,209623,2051.4,1.665228e+07,54241.94,1.060435
2,3,0,1743321.0,1647296,2051.4,1.659119e+08,540429.51,0.941304
3,2,42,1031530.0,2340493,1266.7,9.817071e+07,319774.30,2.233500
4,3,42,53889.0,109350,1266.7,5.128616e+06,16705.59,2.073846
...,...,...,...,...,...,...,...,...
9995,3,58,100824.0,285614,2655.4,1.156806e+07,18222.48,2.832798
9996,2,56,2812400.0,7005800,248.3,2.738651e+08,803596.00,2.491040
9997,3,0,1880737.0,3709081,1397.7,2.697477e+08,501798.99,1.972142
9998,2,43,52985.0,128945,2528.8,4.766714e+06,5656.70,2.433613
9999,2,24,3828992.0,5567644,843.7,3.749936e+08,906958.08,1.454076

In [53]:
df.isnull().sum()

Season               0
State                0
Area(hec)            0
Production(Ton)      0
Annual_Rainfall      0
Fertilizer           0
Pesticide            0
Yield(Ton/hector)    0
dtype: int64

In [54]:
df.to_csv("dataset/rice_yielding.csv")